.DigitDisplay{
    height: 100%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
}

.DigitDisplay_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.DigitDisplay_row > h3 {
    margin-left: 10px;
    margin-bottom: 14px;
    margin-right: 10px;

    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #B4B9CC;
}

.DigitDisplay > h3 {
    margin-right: 10px;

    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #B4B9CC;
}


.DigitDisplay span, .DigitDisplay_row span{
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-family: 'ZhengQingKeLengKuTi';
}

.DigitDisplay > .span_container, .DigitDisplay_row > .span_container {
    padding-right: 10px;
}

.DigitDisplay h2{
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
    font-size: 16px;
}