.FilledCurve{
    text-align: left;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.FilledCurve_leftbottom{
    text-align: left;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
}

.FilledCurve_lefttop{
    text-align: left;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
}

.graph_container{
    text-align: left;
    align-self: center;
    height: calc(100% - 15px);
    margin-top: 10px;
    width: calc(100% - 40px);

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.FilledCurve > h2{
    height: 17px;
    margin-left: 18px;
    margin-top: 22px;

    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #53BDDF;
}

.FilledCurve_digit{
    margin-left: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}